<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-Boot3:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_Boot3_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="maven-jetty-test/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="maven-jetty-test" />
        </element>
      </element>
    </root>
  </artifact>
</component>